*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    margin-right: 0px;
}
.nav-bar{
    display: flex;
    justify-content:space-between;
    box-shadow: 1px 1px 30px  rgb(65, 63, 73);
    padding: 5px;
   
   
}
.nav-bar h1{
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    font-size: 50px;
}
.nav-link {
    display:flex;
    align-items: center;

}
.nav-link li{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-link li a:hover{
    color: rgb(4, 80, 167);
    transform: scale(1.051);
}
.nav-link li a:active{
        transform: scale(1.05);
    }
.nav-link li a{
    text-decoration: none;
    color: rgb(65, 63, 73);
    transition: all 0.3s;
    font-size: x-large;
    
}
.menu{
    
    display: none;
}
.side-bar{
    position: fixed;
    background-color:white;
    width: 50%;
    height:100vh;
    padding: 10px;
    left:-60%;
    top: 93px;
    transition: all ease-in 0.3s;
    

}
.side-bar h1 i{
    color: rgb(17, 15, 38);
    justify-items: end;
    transition: all 0.3s;
}
.side-bar h1{
    text-align: end;
}
.side-bar h1 i:hover{
   transform:scale(1.08);

}
.side-bar h1 i:active{
   transform:scale(1.051);
}
.side-link p{
    text-decoration: none;
    margin: 30px;
    
}
.side-link a{
    text-decoration: none;
    color: rgb(32, 20, 57);
    
}
.side-link  a:active{
    color: rgb(67, 81, 201);
    transform:scale(1.052);

}
.side-link p:hover{
    transform:scale(1.052);
}

.content{
    display:flex;
    justify-content:center ;
    column-gap: 30px;
    padding: 60px;
    flex-wrap: wrap;
    background-size: cover;
    background:linear-gradient( rgb(225, 209, 184), white,rgb(189, 177, 165),white);
    

    
}
.content img{
    width: 500px;
    height: 500px;
    border-radius: 5px;

}

.content-text{
    margin-top: 200px;
}
.content-text button{
    margin-top: 50px;
    width: 190px;
    height: 40px;
    background-color: rgb(6, 6, 6);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    transition: all 0.3s;
    font-size: medium;
    
    
}
.content-text button:hover{
    transform: scale(1.0510);
    box-shadow: 1px 1px 1px rgb(156, 156, 159);
}
.content-text button:active{
    transform: scale(1.051);
    
}

    

.serivce{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20PX;
}
.specialitize{
    display:flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: auto;
    margin-left: 10px;
    
    
}
.new-arrival-outer{
    padding: 20px;
}
.new-arrival-con{
    flex-basis: 20%;
    margin-bottom: 10px;
     position: relative;
}
.new-arrival-con img{
    height: 300px;
    width: 220px;
   
}
.new-arrival-con button{
    
    position: absolute;
    left: 30%;
    top: 80%;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(4, 4, 4);
    border:1px solid rgb(2, 2, 2);
    transition: all 0.3s;
}
.new-arrival-con button:hover{
     transform: scale(1.0510);
    box-shadow: 1px 1px 1px rgb(156, 156, 159);
}
.new-arrival-con button:active{
    transform: scale(1.082);
}
.news{
    text-align: center;
    margin: 10px;
}
.news input{
    margin-top: 30px;
    width: 800px;
    padding-top: 20px;
    border: 2px solid black;
}
.news button{
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgb(15, 14, 14);
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: all 0.3s;
}
.news button:hover{
    transform: scale(1.0510);
    box-shadow: 1px 1px 1px rgb(156, 156, 159);
}
.news button:active{
    transform: scale(1.0512);
    
}
.web{
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}

.btns:hover{
        background-color: aqua;
        transition: all ease-in-out 0.2s;
        transform: scale(1.051);
      }
.contacts {
  background-color: rgb(51, 53, 62);
  width: 100%;
  max-width: 540px;
  height: auto;
  margin: 30px auto;
  border-radius: 15px;
  padding: 40px 0;
}

.contact h2 {
  color: white;
  font-size: xx-large;
  padding-left: 50px;
  margin-bottom: 30px;
}

.contact label {
  color: white;
  font-size: large;
  padding-left: 50px;
  display: block;
  margin-bottom: 8px;
}

.contact input,
.contact textarea {
  font-size: large;
  margin-left: 50px;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.contact textarea {
  height: 100px;
  resize: none;
}

.contact button {
  background-color: rgb(39, 102, 171);
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: large;
  margin-left: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.contact button:hover {
  background-color: rgb(25, 85, 150);
  transform: scale(1.05);
}




@media screen and (max-width: 770px) {

    .menu{
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all 0.4s;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu:hover{
        color: rgb(4, 80, 167);
        transform: scale(1.1);
    }

    .menu:active{
        transform: scale(0.95);
    }

    .nav-link{
        display: none;
    }

    .content-text{
        margin-top: 0;
        text-align: center;
    }

    .content img{
        margin-top: 40px;
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }

    .service h2,
    .service p{
        margin-left: 0;
        text-align: center;
    }

    .specialitize{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgrey;
        min-height: 350px;
        border-radius: 5px;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px;
    }

    .new-arrival-con img{
        width: 130px;
        height: 130px;
        object-fit:cover;
        border-radius: 20px;
        margin: 3px ;
    }

    .news input{
        margin-top: 30px;
        width: 100%;
        max-width: 400px;
        padding: 12px;
        border: 2px solid black;
    }
    
    
    .new-arrival-con button{
    
    position: absolute;
    left: 20%;
    top: 80%;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(4, 4, 4);
    border:1px solid rgb(2, 2, 2);
    transition: all 0.3s;
}
.new-arrival-con p{
    display: none;
}
.contact h2,
  .contact label,
  .contact input,
  .contact textarea,
  .contact button {
    margin-left: 20px;
    margin-right: 10px;
  }

  .contact input,
  .contact textarea {
    width: 90%;
  }
  .search{
    width: 80%;
    margin-left: 10px;
  }
}
